{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="container">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Contact</h1>
                <p class="lead"></p>
            </div>

    <div class="card card-body h-15  border-info">
        <h4>e-mail</h4>
        <hr>
        <ul class="social-links">
            <li>golebiowski@gmail.com</li>
        </ul>
    </div>

    <br>
    <br>

    <div class="card card-body h-15 border-info">
        <h4>Check the rest of my repositories in github</h4>
        <hr>
        <ul class="social-links">
            <li><a href="https://github.com/golab368?tab=repositories" target="_blank"><img class="social" src="static\images\github.png"></a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}